body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    background-color: #8b7e9e;
}

.container{
    background-color: #7A5CA8;
    display: inline-block;
    width: 800px;
    height: 600px;
    margin: calc(50vh - 300px) calc(50% - 400px);
    color: white;
    font-family: sans-serif;
    position: relative;
}

.left-column{
    background-color: #886BAE;
    float: left;
    margin-left: 5%;
    margin-top: 110px;
    width: 320px;
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
    position: relative;
}

.corner{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #7A5CA8;
    width: 72px;
    height: 72px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 72px 0 0 72px;
    border-color: transparent transparent transparent #9580B9;
}

.corner:hover{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #886BAE;
    width: 72px;
    height: 72px;
    border-style: none;
}

.title{
    font-size: 650%;
    margin-bottom: 5px;
    margin-top: 30px;
    display: inline-block;
}

.title-description{
    font-size: 18px;
    line-height: 1em;
}

.title-description:first-of-type{
    color: orange;
    text-transform: uppercase;
}

.extra-description{
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 40px;    
}

.button{
    display: inline-block;
    background-color: #F6911D;
    margin-bottom: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.button:hover{
    background-color: #096ee2; ;
}
.right-column{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.default,
.alt{
    width: 100%;
}

.default,
.right-column:hover > .alt{
    display: block;
}

.alt,
.right-column:hover > .default{
    display: none;
}

/* SPY */

.spy .alt {
    animation-name: leaving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes leaving {
    40% {
        transform: translateX(150%);
        opacity: 100;
    }

    60% {
        transform: translateX(150%);
        opacity: 0;
    }

}

/* COP */

.cop .alt {
    position: absolute;
    bottom: 0;
}

.cop .alt:nth-of-type(2) {
    animation-name: head;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes head {
    50% {
        transform: scale(150%)
    }
}

/* ENGENEER */

.enge .alt {
    position: absolute;
    bottom: 0;
}

.enge .alt:last-of-type {
    width: 45.7%;
    bottom: 360px;
    left: 0;
    animation-name: tool-spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tool-spin {
    25% {
        transform: rotate(-25deg)
    }
    80% {
        transform: rotate(20deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

/* ROBOT */

.robot .alt {
    position: absolute;
    bottom: 0;
}

.robot .alt:nth-of-type(2) {
    width: 31.165%;
    bottom: 265px;
    left: 37%;
    z-index: 1;
    animation-name: robo-head;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.robot .alt:nth-of-type(3) {
    animation-name: robo-body;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes robo-head {
    25% {
        transform: scale(125%)
        translateX(20%) rotate(-25deg)
    }
    50% {
        transform: scale(150%)
        translateY(-20%) rotate(50deg)
    }
    75% {
        transform: scale(125%) rotate(25deg)
    }
}

@keyframes robo-body {
    50% {
        transform: scaleY(50%)
    }
}